<!DOCTYPE html>
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>TORRE</title>
    <link rel="stylesheet" href="../static/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alef">
    <link rel="stylesheet" href="../static/assets/css/styles.css">
    <!-- JQUERY -->

    <script src="https://code.jquery.com/jquery-3.2.1.min.js?"></script>

    <!-- JS file -->

    <script src="../static/scripts/load.js"></script>
</head>

<body class="text-center">
    <h1 class="text-center border-primary" style="background-color: #b4ceee;">Torre Best Working Match</h1>
    <input class="bg-white border rounded border-primary shadow-sm" type="text" placeholder="User public ID" value="xica369">
    <button class="btn btn-primary" type="button">SEARCH</button>
    <p>USER INFO</p>
    <section id="userinfo">
    </section>
    <h2>Matches:</h2>
    <section id="listofmatches" class="container">
            
    </section>
    <script src="../static/assets/js/jquery.min.js"></script>
    <script src="../static/assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>